
@{
    ViewBag.Title = "ABOUT";
}


<head>
    <meta charset="UTF-8">
    <link href="~/Content/About.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/AboutJS.js"></script>

</head>
<body class="about">
    <div class="aboutText">
        This web application is used to search and filter data for
        hotels in the region Centar, Skopje. The web application will own a large
        number of functionalities. Users will have the opportunity to get acquainted
        with all the more detailed information related to the hotels searched.
        The main goal will be for users to use the given filters to
        get the expected result, hotel. Using the given filters, you can
        enumerate the price, the number of stars, the possibility of parking. The application will
        allows users to access the filtered hotels.
        This system will be of great benefit to travel lovers who will
        always be able to find the most appropriate place on this page
        for residence. Tourists will receive a full overview of the hotels in the center
        of the city, close to all sightseeings in Skopje.
    </div>

</body>

